/* ---- browser's margin and padding dropped to zero  ---- */

* {
    margin: 0;
    padding: 0;
    outline: none;
}

header {
    height: 700px;
    width: auto;
    background-color: #222;
    font-family: "Fira Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.site-content {
    max-width: 1100px;
    height: 700px;
    margin-left: auto;
    margin-right: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.site-content__headline {
    font-weight: 200;
    color: #ffffff;
    font-size: calc(2vw + 10px);
    font-family: 'Raleway', sans-serif;
}

.menu-icon {
    height: 30px;
    width: 30px;
    position: fixed;
    z-index: 2;
    left: 50px;
    top: 30px;
    cursor: pointer;
}

.menu-icon__line {
    height: 2px;
    width: 30px;
    display: block;
    background-color: #ffffff;
    margin-bottom: 4px;
    -webkit-transition: background-color .5s ease, -webkit-transform .2s ease;
    transition: background-color .5s ease, -webkit-transform .2s ease;
    transition: transform .2s ease, background-color .5s ease;
    transition: transform .2s ease, background-color .5s ease, -webkit-transform .2s ease;
}

.menu-icon__line-left {
    width: 15px;
}

.menu-icon__line-right {
    width: 15px;
    float: right;
}

/* ---- (1st block) menu white screen text shift  ---- */

.nav {
    position: fixed;
    z-index: 1;
    font-family: 'Raleway', sans-serif;
    visibility: hidden;
}

.nav:before,
.nav:after {
    content: "";
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(234, 234, 234, 0.2);
    z-index: -1;
    -webkit-transition: -webkit-transform cubic-bezier(0.77, 0, 0.175, 1) 0.8s;
    transition: -webkit-transform cubic-bezier(0.77, 0, 0.175, 1) 0.8s;
    transition: transform cubic-bezier(0.77, 0, 0.175, 1) 0.8s;
    transition: transform cubic-bezier(0.77, 0, 0.175, 1) 0.8s, -webkit-transform cubic-bezier(0.77, 0, 0.175, 1) 0.8s;
    -webkit-transform: translateX(0%) translateY(-100%);
    transform: translateX(0%) translateY(-100%);
}

.nav:after {
    background: white;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

.nav:before {
    -webkit-transition-delay: .1s;
    transition-delay: .1s;
}

.nav__content {
    position: fixed;
    top: 50%;
    -webkit-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
    width: 100%;
    text-align: center;
    font-size: calc(2vw + 10px);
    font-weight: 200;
    cursor: pointer;
}



.nav__list-item {
    position: relative;
    display: inline-block;
    -webkit-transition-delay: 0.8s;
    transition-delay: 0.8s;
    opacity: 0;
    -webkit-transform: translate(0%, 100%);
    transform: translate(0%, 100%);
    -webkit-transition: opacity .2s ease, -webkit-transform .3s ease;
    transition: opacity .2s ease, -webkit-transform .3s ease;
    transition: opacity .2s ease, transform .3s ease;
    transition: opacity .2s ease, transform .3s ease, -webkit-transform .3s ease;
    margin-right: 25px;
}

.nav__list-item:before {
    content: "";
    position: absolute;
    background: #000000;
    width: 20px;
    height: 1px;
    top: 100%;
    -webkit-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    z-index: -1;
}

.nav__list-item:hover:before {
    width: 100%;
}

.nav__list-item a {
    text-decoration: none;
    color: #292929;
}

header.nav-active .menu-icon__line {
    background-color: #000;
    -webkit-transform: translateX(0px) rotate(-45deg);
    transform: translateX(0px) rotate(-45deg);
}

header.nav-active .menu-icon__line-left {
    -webkit-transform: translateX(1px) rotate(45deg);
    transform: translateX(1px) rotate(45deg);
}

header.nav-active .menu-icon__line-right {
    -webkit-transform: translateX(-2px) rotate(45deg);
    transform: translateX(-2px) rotate(45deg);
}

header.nav-active .nav {
    visibility: visible;
}

header.nav-active .nav:before,
header.nav-active .nav:after {
    -webkit-transform: translateX(0%) translateY(0%);
    transform: translateX(0%) translateY(0%);
}

header.nav-active .nav:after {
    -webkit-transition-delay: .1s;
    transition-delay: .1s;
}

header.nav-active .nav:before {
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

header.nav-active .nav__list-item {
    opacity: 1;
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transition: opacity .3s ease, color .3s ease, -webkit-transform .3s ease;
    transition: opacity .3s ease, color .3s ease, -webkit-transform .3s ease;
    transition: opacity .3s ease, transform .3s ease, color .3s ease;
    transition: opacity .3s ease, transform .3s ease, color .3s ease, -webkit-transform .3s ease;
}

header.nav-active .nav__list-item:nth-child(0) {
    -webkit-transition-delay: 0.5s;
    transition-delay: 0.5s;
}

header.nav-active .nav__list-item:nth-child(1) {
    -webkit-transition-delay: 0.6s;
    transition-delay: 0.6s;
}

header.nav-active .nav__list-item:nth-child(2) {
    -webkit-transition-delay: 0.7s;
    transition-delay: 0.7s;
}

header.nav-active .nav__list-item:nth-child(3) {
    -webkit-transition-delay: 0.8s;
    transition-delay: 0.8s;
}

header.nav-active .nav__list-item:nth-child(4) {
    -webkit-transition-delay: 0.9s;
    transition-delay: 0.9s;
}






/* First Links ------------------------------------------------------------------------- */

body,
body * {
    -webkit-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
}

.first-links {
    height: 800px;
}

.first-links.light {
    background-color: #EEE;
}

.first-links.dark {
    background-color: #222;
}

.first-links ul.scroll {
    position: absolute;
    height: 250px;
    top: 1100px;
    margin-top: -127px;
    width: auto;
    margin-left: 50px;



}

.first-links ul.scroll li {
    color: #000;
    list-style-type: none;
    line-height: 50px;
    font-family: 'Raleway', sans-serif;
    font-size: 50px;
    text-transform: lowercase;
}

.first-links ul.scroll li:hover {
    color: #EEE;
    cursor: pointer;
}





/* Carousel ------------------------------------------------------------------------- */

*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.skw-pages {
    overflow: hidden;
    position: relative;
    height: 500px;
}

.skw-page {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

.skw-page__half {
    position: absolute;
    top: 0;
    width: 50%;
    height: 500px;
    -webkit-transition: -webkit-transform 1s;
    transition: -webkit-transform 1s;
    transition: transform 1s;
    transition: transform 1s, -webkit-transform 1s;
}

.skw-page__half--left {
    left: 0;
    -webkit-transform: translate3d(-15.7vh, 100%, 0);
    transform: translate3d(-15.7vh, 100%, 0);
}

.skw-page__half--right {
    left: 50%;
    -webkit-transform: translate3d(15.7vh, -100%, 0);
    transform: translate3d(15.7vh, -100%, 0);
}

.skw-page.active .skw-page__half {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.skw-page__skewed {
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 140%;
    height: 100%;
    -webkit-transform: skewX(-18deg);
    transform: skewX(-18deg);
    background: #000;
}

.skw-page__half--left .skw-page__skewed {
    left: -40%;
}

.skw-page__half--right .skw-page__skewed {
    right: -40%;
}

.skw-page__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 0 30%;
    color: #fff;
    -webkit-transform: skewX(18deg);
    transform: skewX(18deg);
    -webkit-transition: opacity 1s, -webkit-transform 1s;
    transition: opacity 1s, -webkit-transform 1s;
    transition: transform 1s, opacity 1s;
    transition: transform 1s, opacity 1s, -webkit-transform 1s;
    background-size: cover;
}

.skw-page__half--left .skw-page__content {
    padding-left: 0%;
    padding-right: 0%;
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0;
}

.skw-page__half--right .skw-page__content {
    padding-left: 0%;
    padding-right: 0%;
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
}

.skw-page.inactive .skw-page__content {
    opacity: 0.5;
    -webkit-transform: skewX(18deg) scale(0.95);
    transform: skewX(18deg) scale(0.95);
}

.skw-page__heading {
    margin-bottom: 15px;
    text-transform: capitalize;
    font-size: 25px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

.skw-page__description {
    font-size: 18px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

.skw-page__link {
    color: #FFA0A0;
}

.skw-page-1 .skw-page__half--left .skw-page__content {
    /*    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/mousover-img-1.jpg");*/
    background-image: url("../img/iceland.jpg");
}

.skw-page-1 .skw-page__half--right .skw-page__content {
    background: #292929;
}

.skw-page-2 .skw-page__half--left .skw-page__content {
    background: #292929;
}

.skw-page-2 .skw-page__half--right .skw-page__content {
    /*    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/slider-2.jpg");*/
    background-image: url("../img/mountain.jpg");
}

.skw-page-3 .skw-page__half--left .skw-page__content {
    /*    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/mousover-img-2.jpg");*/
    background-image: url("../img/road.jpg");
}

.skw-page-3 .skw-page__half--right .skw-page__content {
    background: #292929;
}

.skw-page-4 .skw-page__half--left .skw-page__content {
    background: #292929;
}

.skw-page-4 .skw-page__half--right .skw-page__content {
    /*    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/sections-3.jpg");*/
    background-image: url("../img/wood.jpg");
}

.skw-page-5 .skw-page__half--left .skw-page__content {
    /*    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/img-test.jpg");*/
    background-image: url("../img/haybays.jpg");
}

.skw-page-5 .skw-page__half--right .skw-page__content {
    background: #292929;
}

.wedo-small {
    display: none;
}



/* ---- Welcome, abouts us, what we do ... links style ---- */

.first-links a {
    text-decoration: none;
    color: #000;
}

.first-links a:hover {
    color: #fff;
}



/* ---- triangle block and text style ---- */

p.space-top {
    height: 500px;
}

.space-top {
    margin: 0;
    padding-bottom: 500px;
    background: #EEE;
    -webkit-clip-path: polygon(100px 0, 0% 0%, 100% 100%, 100% 0);
    clip-path: polygon(100px 0, 0% 0%, 100% 184%, 100% 0);
}

.clip-top.top {
    background: #292929;
}

.clip-top.bottom {
    transform: rotate(180deg);
    background: #292929;
}


/* ---- Text settings in a 3rd block (We are based since 2014.) ---- */

.space-top.first {
    padding-top: 200px;
    padding-right: 60px;
    font-family: 'Raleway', sans-serif;
    font-size: 35px;
    text-transform: capitalize;
    text-align: right;
}


.space-top.third {
    font-family: 'Raleway', sans-serif;
    font-size: 35px;
    text-transform: capitalize;
    padding-left: 350px;
}

/* Button ------------------------------------------------------------------------- */

.arrow-button {
    background: #eee;
    border: 1px solid #292929;
    padding: 18px 46px;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #292929;
    transition: ease-out 1s;
}


.arrow-button:hover {
    color: #eee;
    background: ;
    border: 1px solid #292929;
    box-shadow: inset 400px 0 0 0 #434343;
}



/* Who we Are Page ------------------------------------------------------------------------- */

div.links {
    background: #292929;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    -webkit-backface-visibility: hidden;
}

#circle {
    width: 400px;
    height: 400px;
    border-radius: 200px;
    border: 2px solid #fff;
    position: absolute;
    left: -250px;
}

div.link {
    display: none;
}

div.link h2 {
    display: none;
}

div.link.active {
    display: block;
}

.whoweare {
    margin-top: 100px;
}

.name {
    font-size: 30px;
    font-variant: small-caps;
}

.content {
    margin-left: 50px;
    color: #EEE;
    max-width: 600px;
    text-transform: capitalize;
    line-height: 1.5em;
    text-align: justify;
    padding-right: 50px;
}

.photos {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    filter: grayscale(80%);
    margin-top: 50px;
    margin-left: 300px;
    transition: 1s all;
}

.photos:hover {
    filter: grayscale(10%);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.8);
}

.photos.shadow:hover {
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.8);
}

.members-small-display {
    display: none;
}



/* Maps & Contacts -------------------------------------------------------------------- */

.page-footer {
    display: flex;
    min-height: 700px;
    flex-direction: column;
    font-family: 'Raleway', sans-serif;
    padding-top: 200px;
    color: #EEE
}

iframe {
    filter: grayscale(100%);
    transition: 1.3s all;
}

iframe:hover {
    filter: none;
}



/* Footer ------------------------------------------------------------------------- */

footer {
    background: #292929;
    height: 50px;
    text-align: center;
    padding-top: 20px;
}

footer li {
    list-style: none;
    display: inline-block;
}

.footer-list2 li a {
    padding: 0 5px;
}

.fab {
    font-size: 20px;
    color: #EEE;
    vertical-align: center;
}

.footer-list2 li a i:hover {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    color: #bebebe;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}




/* Media ------------------------------------------------------------------------- */

/* Map ------------------------------------------- */

@media all and (max-width: 1200px) {
    .page-footer {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    iframe {
        width: 400px;
    }
}

@media all and (max-width: 1100px) {
    /* Section with Our Photos ------------------------------------------- */
    div.links {
        display: none;
    }

    .members-small-display {
        display: block;
        width: 100%;
        margin: 0px;
        background: #EEE;
    }

    button.smal {
        width: 100%;
        height: 50px;
        background: #292929;
        border-top: 1px solid #EEE;
        border-bottom: none;
        border-right: none;
        border-left: none;
        border-radius: 2px;
        color: #EEE;

    }

    button.small4 {
        border-bottom: 1px solid #EEE;
    }

    button.smal:hover {
        background: #EEE;
        border: 1px solid #292929;
        border-radius: 2px;
        color: #292929;
    }


    .content {
        margin: 30px 50px 30px 50px;
        color: #292929;
        max-width: 1200px;
        text-transform: capitalize;
        line-height: 1.5em;
        text-align: center;
    }

    .photos {
        margin-left: 45%;
    }

    .photos.shadow:hover {
        filter: grayscale(10%);
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.8);
    }

    .page-footer {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-top: 100px;
    }

}



@media all and (max-width: 850px) {

    /* Tiangle Blocks with Text and Button ------------------------------------------- */
    .first-links {
        display: none;
    }

    p.space-top {
        height: 400px;
    }

    .space-top {
        margin: 0;
        padding-bottom: 300px;
        background: #EEE;
        clip-path: none;
    }

    .clip-top.bottom {
        display: none;
    }

    .space-top.first {
        padding: 100px 50px 0 50px;
        font-family: 'Raleway', sans-serif;
        font-size: 30px;
        text-transform: capitalize;
        text-align: center;
    }

    .space-top.third {
        font-family: 'Raleway', sans-serif;
        font-size: 0px;
        text-transform: capitalize;
        padding-left: 45%;
        padding-top: 70px;
    }

    div.clip-top.top {
        background: #EEE;
    }

    div.clip-top.top.second {
        height: 400px;
    }

    div.clip-top.top.second:before {
        content: "Blog";
        font-family: 'Raleway', sans-serif;
        text-transform: capitalize;
        font-size: 45px;
        text-align: center;
        position: relative;
        top: 70px;
        margin: 35%;
    }

    .arrow-button {
        margin-top: 30px;
    }



    /* Pictures Caurosele ------------------------------------------- */
    #wedo {
        display: none;
    }

    .wedo-small {
        display: block;
        background: #EEE;

    }

    /* Slideshow container */
    .slideshow-container {
        max-width: 900px;
        position: relative;
        margin: auto;
    }

    /* Hide the images by default */
    .mySlides {
        display: none;
    }

    /* Next & previous buttons */
    .prev,
    .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        margin-top: -22px;
        padding: 16px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
    }

    /* Position the "next button" to the right */
    .next {
        right: 0;
        border-radius: 3px 0 0 3px;
    }

    /* On hover, add a black background color with a little bit see-through */
    .prev:hover,
    .next:hover {
        background-color: rgba(0, 0, 0, 0.8);
    }

    /* Caption text */
    .text {
        padding: 8px 12px;
        position: absolute;
        bottom: 15px;
        max-width: 70%;
        text-align: center;
        font-family: 'Raleway', sans-serif;
        font-size: 20px;
        color: #292929;
        background: rgba(255, 255, 255, 0.75);
        margin-left: 20px;
    }


    /* Number text (1/3 etc) */
    .numbertext {
        color: #f2f2f2;
        font-size: 12px;
        padding: 8px 12px;
        position: absolute;
        top: 0;
    }

    /* The dots/bullets/indicators */
    .dot {
        display: none;
        /*
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
*/
    }

    /*
    .active,
    .dot:hover {
        background-color: #717171;
    }
*/
    /* Fading animation */
    .fade {
        -webkit-animation-name: fade;
        -webkit-animation-duration: 1.5s;
        animation-name: fade;
        animation-duration: 1.5s;
    }

    @-webkit-keyframes fade {
        from {
            opacity: .4
        }
        to {
            opacity: 1
        }
    }

    @keyframes fade {
        from {
            opacity: .4
        }
        to {
            opacity: 1
        }
    }
}
