  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

.container {
    max-width: 2000px;
    margin: auto;
}

.card__text {
  width: 450px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  background-color: #bebebe;
}
body {
  color: #999999;
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  padding: 1rem;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
}
img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}
.btn {
  background-color: white;
  border: 1px solid #cccccc;
  color: #696969;
  padding: 0.5rem;
  text-transform: lowercase;
}
.btn--block {
  display: block;
  width: 100%;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}
.cards__item {
  display: flex;
  padding: 1rem;
}
@media (min-width: 40rem) {
  .cards__item {
    width: 50%;
  }
}
@media (min-width: 56rem) {
  .cards__item {
    width: 33.3333%;
  }
}
.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.card:hover .card__image {
  filter: contrast(100%);
}
.card__content {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: 1rem;
}
.card__image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  filter: contrast(70%);
  overflow: hidden;
  position: relative;
  transition: filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
  /*max-height: 200px;*/
}
.card__image::before {
  content: "";
  display: block;
  padding-top: 56.25%;
}
@media (min-width: 40rem) {
  .card__image::before {
    padding-top: 66.6%;
  }
}

.card__image--fence {
  /*background-image: url(https://unsplash.it/800/600?image=59);*/
/*  max-width: 800px;
  max-height: 600px;*/
}


.card__title {
	font-family: 'Raleway', 
	sans-serif; 
	color: black;
	font-weight: 200px;
	font-size: 20px;
  text-transform: uppercase;
  width: 320px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis
}
.card__text {
	font-family: 'Raleway', 
	sans-serif; 
	color: black;
	font-weight: 200px;
	font-size: 15px;
}

.autorius {
	font-family: 'Raleway', 
	sans-serif; 
	color: black;
	font-weight: 500px;
	font-size: 15px;
}
.tekstas {
	font-family: 'Raleway', 
	sans-serif; 
	color: black;
	font-weight: 200px;
	font-size: 20px;
}
.headeris {
	font-family: 'Raleway', 
	sans-serif; 
	color: black;
	font-weight: 200px;
	font-size: 25px;
}
.btn {
    background-color: #777;
    border: none;
    color: white;
    font-family: 'Raleway', 
	sans-serif; 
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
	padding: 3px 2px;
	text-transform: capitalize;

}
.btn:hover {
	background-color: #292929;
}

.row {
	display: inline-block;

}

.main_box {
  text-align: center !important;
  margin-bottom: 10px !important;
}
