.main_box {
	text-align: center;
	margin-bottom: 10px;
}


table {
	max-width: 1000px;
}

h4 {
	margin-bottom: 50px;
}

.centered {
	margin-left:auto; 
    margin-right:auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

.tekstas {
	width: 300px;
	font-size: 10px;
}

.antraste {
	width: 200px;
}

.autorius {
	width: 120px;
}

.mygtukas {
	width: 25px;
}

.ideti {
	margin-left: 13%; 
    margin-right: 55%;
}

.btn-floating {
	border-radius: 2px;
}

.numbers {
	margin-right: 5px;
}

.forma {
	display: flex;
    align-items: center;
    justify-content: center;
}

.input-field.col.s12 {
	width: 350px;
}

.card-panel {
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: left;
	padding-left: 18%;
	line-height: 0.4;
}

.insert {
	padding-left: 25%;
}

.errors {
	margin-bottom: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.paveksleliai {
	max-width: 200px;
	max-height: 150px;
}